<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- 

   This file is part of vimplugin.
   
   Copyright (c) 2005 Sebastian Menge and others
   
   It is licensed under the CPL. See vimplugin/doc/COPYRIGHT for the complete license.

-->



<plugin
   id="vimplugin"
   name="Vim Plug-in"
   version="0.0.3"
   provider-name="Sebastian Menge"
   class="org.vim.vimplugin.VimpluginPlugin">

   <runtime>
      <library name="vimplugin.jar">
         <export name="*"/>
      </library>
      <library name="lib/jta25.jar">
         <export name="*"/>
      </library>
   </runtime>



   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   <extension
         id="vimplugin.editors"
         name="vimeditor"
         point="org.eclipse.ui.editors">
      <editor
            class="org.vim.vimplugin.editors.VimEditor"
            default="true"
            extensions="txt, java, tex, c, h"
            filenames="README"
            icon="icons/vim16x16.gif"
            id="vimplugin.vimeditor"
            name="Vim"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.vimplugin.preferences.VimPreferencePage"
            id="org.vimplugin.preferences.VimPreferencePage"
            name="Vimplugin"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.vimplugin.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
