ECLIPSE_HOME = ../../../../dev/eclipse-3.3
plugin.build = value="testing

#vim: set nowrap tabstop=8 shiftwidth=4 softtabstop=4 expandtab :
#vim: set textwidth=0 filetype=jproperties foldmethod=marker nospell :
#
